body {
  border: 2px solid red;
  width: 400px;
}

h1 {
  text-align: center;
  color: black;
  font-size: 22px;
}

.content {
  padding: 10px;
}

.form-item {
  width: 100%;
  margin: 20px 0;
}

.form-item > label + textarea {
  display: block;
}

textarea {
  width: 80%;
}

label {
  font-size: 18px;
}

.saved {
  margin-top: 5px;
}
